<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="logdir" value="${user.home}/logs"/>
    <property name="serviceName" value="doogoo"/>

    <!-- 콘솔용 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 운영용 -->
    <appender name="PROD_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}/${serviceName}/app.log</file>
        <append>true</append>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logdir}/${serviceName}/%d{yyyy-MM-dd}.%i.prod.log.gz</fileNamePattern>
            <maxFileSize>30MB</maxFileSize>
            <maxHistory>1</maxHistory>
            <totalSizeCap>600MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                    <timeZone>Asia/Seoul</timeZone>
                </timestamp>

                <logLevel/>
                <mdc/>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <!-- 개발용 -->
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logdir}/${serviceName}/debug.log</file>
        <append>true</append>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logdir}/${serviceName}/%d{yyyy-MM-dd}.%i.debug.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>1</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>@timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                    <timeZone>Asia/Seoul</timeZone>
                </timestamp>

                <logLevel/>
                <mdc/>
                <arguments/>
            </providers>
        </encoder>
    </appender>

    <!-- 전역레벨 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PROD_LOG"/>
        <appender-ref ref="DEBUG_LOG"/>
    </root>

</configuration>
